footer {
    margin: 0 auto;
    padding: 2rem;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: $border;
    img{
        height: 7rem;
    }
    p {
        font-size: 2rem;
        color: $primary-color;
    }
}